<ion-header>
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full" [ngClass]="{'invalid-control': email.errors?.pattern}">
            <ion-label position="floating">Email</ion-label>
            <ion-input 
            name="email" 
            type="email" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
            [(ngModel)]="user.email" 
            #email="ngModel"
            required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="full" margin-top [ngClass]="{'invalid-control': password.errors?.minlength}">
            <ion-label position="floating">Contrasena</ion-label>
            <ion-input 
            name="password" 
            type="password"
            minlength="4" 
            [(ngModel)]="user.password" 
            #password="ngModel"
            required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" size="medium" type="submit" [disabled]="form.invalid" expand="block" shape="round" fill="outline">Entrar</ion-button>
          <p class="ion-text-center">
            <a [routerLink]="['/forgotten']" replaceUrl="true">Olvide mi contraseña</a>
          </p>
          <p class="ion-text-center">
            Si no tienes una cuenta, por favor <a routerLink='/register' replaceUrl="true">registrate aqui</a>!
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
